@model IEnumerable<WardrobeProject.Models.Jewelries>

@{
    ViewBag.Title = "Index";
}

<body id="jewelsindexbody">
    <div class="jumbotron" id="jewelsjumbotron">
        <div class="container-fluid">
            <h2 id="jewelsdisplayheader">Available Jewelry</h2>
        </div>
    </div>

    <p>
        <button type="button" id="createbutton">@Html.ActionLink("Create New", "Create")</button>
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail" id="wardrobeindex">
                    <div class="caption">
                        <h2 id="windexheader">Jewelry #@Html.DisplayFor(modelItem => item.JewelriesID)</h2>
                        <div id="itemdetails">
                            <p>@Html.DisplayFor(modelItem => item.JName)</p>
                            <p>@Html.DisplayFor(modelItem => item.JType)</p>
                            <p>@Html.DisplayFor(modelItem => item.JMetal)</p>
                            <p>@Html.DisplayFor(modelItem => item.JOccasion)</p>
                            @Html.ActionLink("Details", "Details", new { id = item.JewelriesID }, new { @class = "btn btn-success", role = "button" }) <!--These three will get their own buttons-->
                            @Html.ActionLink("Edit", "Edit", new { id = item.JewelriesID }, new { @class = "btn btn-primary", role = "button" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.JewelriesID }, new { @class = "btn btn-danger", role = "button" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>