@{
    ViewBag.Title = "Home Page";
}

<body id="homebody">    <!--gave the home page its own jumbotron and styling-->
    <div class="jumbotron" id="homejumbotron">
        <div class="container-fluid">
            <h2 id="bottomdisplayheader">Andy's Wardrobe App</h2>
        </div>
    </div>

    <div class="row"> <!--this row gives a brief description of the app and some instructions-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail" id="homethumbnail">
                <div class="caption">
                    <h3 id="displayrow">Welcome!</h3>
                    <p id="homep">With this app, you can add items to your wardrobe.</p>
                    <p id="homep">You can also make an outfit with items in our database!</p>
                    <p>     <!--these buttons go to the index of their respective primary key-->
                        <button type="button" id="homebutton">@Html.ActionLink("Wardrobe", "Index", "Wardrobes")</button>
                        <button type="button" id="homebutton">@Html.ActionLink("Tops", "Index", "Tops")</button>
                        <button type="button" id="homebutton">@Html.ActionLink("Bottoms", "Index", "Bottoms")</button>
                        <button type="button" id="homebutton">@Html.ActionLink("Shoes", "Index", "Shoes")</button>
                        <button type="button" id="homebutton">@Html.ActionLink("Jewelries", "Index", "Jewelries")</button>
                        <button type="button" id="homebutton">@Html.ActionLink("Hats", "Index", "Hats")</button>
                        <button type="button" id="homebutton">@Html.ActionLink("Accessories", "Index", "Accessories")</button>
                    </p>
                    </div>
                </div>
            </div>
        </div>
</body>
