@model WardrobeProject.Models.Wardrobes

@{
    ViewBag.Title = "Details";
}
<!--Wardrobe details contains all the data of each key and puts pictures in logical order as to how you would wear them, save for jewelry-->
<body id="WardrobeDetails">
<div class="jumbotron">
    <div class="container-fluid">
        <h2 id="wardrobedisplayheader">Wardrobe Details</h2>
    </div>
</div>

<div class="row"> <!--Tops Row-->
    <div class="col-sm-6 col-md-4 col-lg-6">
        <div class="thumbnail">
            <div class="caption">
                <h3 id="displayrow">Top</h3>
                <dl class="dl-horizontal" id="wardrobeinfo">
                    <dt>
                        @Html.DisplayNameFor(model => model.Tops.TopName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tops.TopName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tops.TopType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tops.TopType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tops.TopColor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tops.TopColor)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tops.TopSeason)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tops.TopSeason)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tops.TopOccasion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tops.TopOccasion)
                    </dd>
                </dl>
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.TopID }, new { @class = "btn btn-primary", role = "button" })*@
                <!--I would have liked to put a button to direct the user to edit tops-->
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-6"> <!--Bottoms Row-->
        <div class="thumbnail">
            <div class="caption">
                <h3 id="displayrow">Bottom</h3>
                <dl class="dl-horizontal" id="wardrobeinfo">
                    <dt>
                        @Html.DisplayNameFor(model => model.Bottoms.BottomName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bottoms.BottomName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bottoms.BottomType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bottoms.BottomType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bottoms.BottomColor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bottoms.BottomColor)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bottoms.BottomSeason)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bottoms.BottomSeason)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Bottoms.BottomOccasion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bottoms.BottomOccasion)
                    </dd>
                </dl>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-6"> <!--Shoes Row-->
        <div class="thumbnail">
            <div class="caption">
                <h3 id="displayrow">Shoes</h3>
                <dl class="dl-horizontal" id="wardrobeinfo">
                    <dt>
                        @Html.DisplayNameFor(model => model.Shoes.ShoesName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Shoes.ShoesName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Shoes.ShoesType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Shoes.ShoesType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Shoes.ShoesColor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Shoes.ShoesColor)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Shoes.ShoesSeason)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Shoes.ShoesSeason)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Shoes.ShoesOccasion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Shoes.ShoesOccasion)
                    </dd>
                </dl>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-12 col-lg-6"> <!--Accessories Row (this row ended up pretty big, had to increase all sizes to match) -->
        <div class="thumbnail">
            <div class="caption">
                <h3 id="displayrow">Accessories</h3>
                <dl class="dl-horizontal" id="wardrobeinfo">

                    <dt>
                        @Html.DisplayNameFor(model => model.Accessories.Jewelries.JName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Accessories.Jewelries.JName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Accessories.Jewelries.JType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Accessories.Jewelries.JType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Accessories.Jewelries.JMetal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Accessories.Jewelries.JMetal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Accessories.Jewelries.JOccasion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Accessories.Jewelries.JOccasion)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Accessories.Hats.HatsName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Accessories.Hats.HatsName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Accessories.Hats.HatsType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Accessories.Hats.HatsType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Accessories.Hats.HatsColor)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Accessories.Hats.HatsColor)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Accessories.Hats.HatsSeason)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Accessories.Hats.HatsSeason)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Accessories.Hats.HatsOccasion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Accessories.Hats.HatsOccasion)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12"> <!--this lines up the photos that were submitted for each in logical order-->
        <div class="thumbnail" id="Outfit">
            <div class="caption">
                <h3 id="displayrow">Your Outfit</h3>
                <dl class="dl-horizontal">
                    <dd>
                        <img src="@Html.DisplayFor(model => model.Accessories.Hats.HatsPhoto)" style="width:100px; height:100px;" id="wardrobephotos"/>
                    </dd>
                    <dd>
                        <img src="@Html.DisplayFor(model => model.Tops.TopPhoto)" style="width:100px; height:100px;"id="wardrobephotos" />
                    </dd>
                    <dd>
                        <img src="@Html.DisplayFor(model => model.Bottoms.BottomPhoto)" style="width:100px; height:100px;"id="wardrobephotos" />
                    </dd>
                    <dd>
                        <img src="@Html.DisplayFor(model => model.Shoes.ShoesPhoto)" style="width:100px; height:100px;" id="wardrobephotos"/>
                    </dd>
                    <dd>
                        <img src="@Html.DisplayFor(model => model.Accessories.Jewelries.JPhoto)" style="width:100px; height:100px;"id="wardrobephotos" />
                    </dd>
                </dl>
                @Html.ActionLink("Edit", "Edit", new { id = Model.WardrobeID }, new { @class = "btn btn-primary", role = "button" })
                <button type="button">@Html.ActionLink("Back to List", "Index")</button>
            </div>
        </div>
    </div>
</div>
</body>         