@model IEnumerable<WardrobeProject.Models.Wardrobes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Accessories.AccessoriesID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bottoms.BottomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shoes.ShoesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tops.TopName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Accessories.AccessoriesID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bottoms.BottomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shoes.ShoesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tops.TopName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WardrobeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WardrobeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WardrobeID })
        </td>
    </tr>
}

</table>
