@model WardrobeProject.Models.Bottoms

@{
    ViewBag.Title = "Details";
}

<body id="bottomindexbody"> <!--See Tops Details view for notes on these entries-->
    <div class="jumbotron" id="bottomsjumbotron">
        <div class="container-fluid">
            <h2 id="bottomdisplayheader">Bottom Details</h2>
        </div>
    </div>

    <p>
        <button type="button" id="createbutton">@Html.ActionLink("Create New", "Create")</button>
    </p>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3 id="displayrow">Bottom</h3>
                    <dl class="dl-horizontal" id="wardrobeinfo">
                        <dt>
                            @Html.DisplayNameFor(model => model.BottomName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BottomName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.BottomType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BottomType)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.BottomColor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BottomColor)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.BottomSeason)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BottomSeason)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.BottomOccasion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BottomOccasion)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption">
                    <img src="@Html.DisplayFor(model => model.BottomPhoto)" style="width:315px; height:100%;" id="wardrobephotos" />
                </div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }, new { @class = "btn btn-primary", role = "button" })
                <button type="button">@Html.ActionLink("Back to List", "Index")</button>
            </div>
        </div>
    </div>
</body>
