@model IEnumerable<WardrobeProject.Models.Bottoms>

@{
    ViewBag.Title = "Index";
}

<body id="bottomindexbody"> <!--See Tops Index view for notes on these entries-->
    <div class="jumbotron" id="bottomsjumbotron">
        <div class="container-fluid">
            <h2 id="bottomdisplayheader">Available Bottoms</h2>
        </div>
    </div>

    <p>
        <button type="button" id="createbutton">@Html.ActionLink("Create New", "Create")</button>
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail" id="wardrobeindex">
                    <div class="caption">
                        <h2 id="windexheader">Bottom #@Html.DisplayFor(modelItem => item.BottomID)</h2>
                        <div id="itemdetails">
                            <p>@Html.DisplayFor(modelItem => item.BottomName)</p>
                            <p>@Html.DisplayFor(modelItem => item.BottomType)</p>
                            <p>@Html.DisplayFor(modelItem => item.BottomColor)</p>
                            <p>@Html.DisplayFor(modelItem => item.BottomSeason)</p>
                            <p>@Html.DisplayFor(modelItem => item.BottomOccasion)</p>
                            @Html.ActionLink("Details", "Details", new { id = item.BottomID }, new { @class = "btn btn-success", role = "button" }) <!--These three will get their own buttons-->
                            @Html.ActionLink("Edit", "Edit", new { id = item.BottomID }, new { @class = "btn btn-primary", role = "button" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.BottomID }, new { @class = "btn btn-danger", role = "button" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>

