@model IEnumerable<WardrobeProject.Models.Hats>

@{
    ViewBag.Title = "Index";
}

<body id="hatsindexbody">       <!--See Tops Index view for notes on these entries-->
    <div class="jumbotron" id="hatsjumbotron">
        <div class="container-fluid">
            <h2 id="hatsdisplayheader">Available Hats</h2>
        </div>
    </div>

    <p>
        <button type="button" id="createbutton">@Html.ActionLink("Create New", "Create")</button>
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail" id="wardrobeindex">
                    <div class="caption">
                        <h2 id="windexheader">Hats #@Html.DisplayFor(modelItem => item.HatsID)</h2>
                        <div id="itemdetails">
                            <p>@Html.DisplayFor(modelItem => item.HatsName)</p>
                            <p>@Html.DisplayFor(modelItem => item.HatsType)</p>
                            <p>@Html.DisplayFor(modelItem => item.HatsColor)</p>
                            <p>@Html.DisplayFor(modelItem => item.HatsSeason)</p>
                            <p>@Html.DisplayFor(modelItem => item.HatsOccasion)</p>
                            @Html.ActionLink("Details", "Details", new { id = item.HatsID }, new { @class = "btn btn-success", role = "button" }) <!--These three will get their own buttons-->
                            @Html.ActionLink("Edit", "Edit", new { id = item.HatsID }, new { @class = "btn btn-primary", role = "button" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.HatsID }, new { @class = "btn btn-danger", role = "button" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
