@model WardrobeProject.Models.Shoes

@{
    ViewBag.Title = "Details";
}

<body id="shoesindexbody">  <!--See Tops Details view for notes on these entries-->
    <div class="jumbotron" id="shoesjumbotron">
        <div class="container-fluid">
            <h2 id="shoesdisplayheader">Shoes Details</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3 id="displayrow">Shoes</h3>
                    <dl class="dl-horizontal" id="wardrobeinfo">
                        <dt>
                            @Html.DisplayNameFor(model => model.ShoesName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShoesName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ShoesType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShoesType)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ShoesColor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShoesColor)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ShoesSeason)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShoesSeason)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ShoesOccasion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShoesOccasion)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption">
                    <img src="@Html.DisplayFor(model => model.ShoesPhoto)" style="width:315px; height:100%;" id="wardrobephotos" />
                </div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ShoesID }, new { @class = "btn btn-primary", role = "button" })
                <button type="button">@Html.ActionLink("Back to List", "Index")</button>
            </div>
        </div>
    </div>
</body>
