@model IEnumerable<WardrobeProject.Models.Shoes>

@{
    ViewBag.Title = "Index";
}

<body id="shoesindexbody">
    <div class="jumbotron" id="shoesjumbotron">
        <div class="container-fluid">
            <h2 id="shoesdisplayheader">Available Shoes</h2>
        </div>
    </div>

    <p>
        <button type="button" id="createbutton">@Html.ActionLink("Create New", "Create")</button>
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail" id="wardrobeindex">
                    <div class="caption">
                        <h2 id="windexheader">Shoes #@Html.DisplayFor(modelItem => item.ShoesID)</h2>
                        <div id="itemdetails">
                            <p>@Html.DisplayFor(modelItem => item.ShoesName)</p>
                            <p>@Html.DisplayFor(modelItem => item.ShoesType)</p>
                            <p>@Html.DisplayFor(modelItem => item.ShoesColor)</p>
                            <p>@Html.DisplayFor(modelItem => item.ShoesSeason)</p>
                            <p>@Html.DisplayFor(modelItem => item.ShoesOccasion)</p>
                            @Html.ActionLink("Details", "Details", new { id = item.ShoesID }, new { @class = "btn btn-success", role = "button" }) <!--These three will get their own buttons-->
                            @Html.ActionLink("Edit", "Edit", new { id = item.ShoesID }, new { @class = "btn btn-primary", role = "button" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ShoesID }, new { @class = "btn btn-danger", role = "button" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>

